.btn {
	&,
	&:link,
	&:visited {
		padding: 1rem 2rem;
		color: #444;
		font-size: 1.6rem;
		color: rgba(0, 0, 0, 0.8);
		border: transparent;
		background-color: lighten($color-light-grey, 15);
		text-decoration: none;
		border-radius: 0.5rem;
		border: none;
		cursor: pointer;
	}

	&:active,
	&:focus {
		outline: none;
	}

	&:hover {
		background-color: $color-light-grey;
	}
}

.btn-primary {
	background-color: $color-primary;
	color: $color-white;

	&:hover {
		background-color: darken($color-primary, 5);
	}
}
