.progress-bar {
	border: 2px solid $color-light-grey;
	display: flex;
	max-width: 50rem;
	position: relative;

	&--active {
		outline: solid 1px $color-yellow;
	}

	&__text {
		@include absoluteCenter();
	}

	&__fill {
		min-height: 3rem;
		background-color: $color-light-blue;
		transition: width 0.8s ease;

		&--over {
			background-color: $color-orange-red;
		}
	}
}
