.select-container {
	border: 1px solid #ccc;
	border-radius: 3px;
	display: flex;
	align-items: center;
	overflow: hidden;

	select {
		padding: 0.5rem 0.8rem;
		width: 130%;
		border: none;
		font-size: 1.6rem;
		box-shadow: none;
		background-color: transparent;

		&:focus {
			outline: none;
		}
	}
}
